A3_StepFunction.asl.yaml
Comment: A description of my state machine
StartAt: isSHA256
States:
  isSHA256:
    Type: Choice
    Choices:
      - Variable: $.action
        StringEquals: sha256
        Next: SHA256Lambda
    Default: isMD5
  SHA256Lambda:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: >-
        arn:aws:lambda:us-east-1:637423241254:function:SHA256HashFunction:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    End: true
  isMD5:
    Type: Choice
    Choices:
      - Variable: $.action
        StringEquals: md5
        Next: MD5Lambda
    Default: isBCrypt
  MD5Lambda:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: arn:aws:lambda:us-east-1:637423241254:function:MD5HashFunction:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    End: true
  isBCrypt:
    Type: Choice
    Choices:
      - Variable: $.action
        StringEquals: bcrypt
        Next: BCryptLambda
  BCryptLambda:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: $.Payload
    Parameters:
      Payload.$: $
      FunctionName: >-
        arn:aws:lambda:us-east-1:637423241254:function:BcryptHashFunction:$LATEST
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
          - Lambda.TooManyRequestsException
        IntervalSeconds: 1
        MaxAttempts: 3
        BackoffRate: 2
    End: true
